
.venv
LTPenf/ 

data/data_afc
data/data_afd
data/MM_USED_fallacy/*.csv
data/MM_USED_fallacy/*.pkl


*.pyc

Saved_Models/

Model/htc_loss.ipynb
prompting/results/zero-shot_simple/*.csv
prompting/results/zero-shot_simple/*.json
prompting/results/*.csv
prompting/results/*.json


